*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.container {
  margin: 0 auto;
  min-width: 1188px;
  width: 1188px;
}

.sub-menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 25px;
  height: 25px;
  justify-content: flex-end;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0.03);
}

.sub-menu li {
  cursor: pointer;
  white-space: nowrap;
  padding: 0 17px;
  display: inline-block;
  text-align: left;
}

.sub-menu li:hover {
  color: #f36d00;
  cursor: pointer;
}

.text-blue {
  color: #0f1568;
}

.text-gray {
  color: #9e9e9e;
}

.text-pink {
  color: #ff00ff;
}

.navbar-panel {
  display: flex;
  align-items: center;
  padding-top: 11px;
  justify-content: space-between;
  height: 75px;
}

.page-logo {
  height: 39px;
  width: 200px;
}

.nav-cart {
  margin-left: 20px;
}

.nav-search-box {
  height: 45px;
  width: 688px;
  position: relative;
}

header {
  height: 119px;
}

.search-btn {
  width: 45px;
  height: 45px;
  background-color: orange;
  border: none;
  border-radius: 2px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 100%;
  height: 45px;
  border: none;
  padding: 13px 19px;
  border-radius: 5px;
  background-color: #eff0f5;
}

.search-bar:focus {
  border: none;
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slider-col-2 {
  height: 344px;
  width: 194px;
  color: #fff;
  padding: 6px;
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0)),
    linear-gradient(179.27deg, #ffedd6 0.83%, #ffc3e3 46.78%, #fff 99.57%),
    linear-gradient(0deg, #fff, #fff);
}

.slider-col-2 .span-two-line {
  font-size: 14px;
  width: 138px;
  height: 36px;
  margin-left: 6px;
  color: #6c1d00;
}

.flex {
  display: flex;
}
.module-content {
  margin-top: 6px;
  background-image: url("https://img.lazcdn.com/g/tps/imgextra/i2/O1CN01tceZus1IewufOY1tZ_!!6000000000919-2-tps-364-316.png");
  background-repeat: no-repeat;
  height: 158px;
  width: 100%;
  background-size: 100% auto;
  overflow: hidden;
}

.txt-content p {
  max-width: 164px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 6px;
}

.module-content .rate-txt {
  font-size: 10px;
}

.text-white {
  color: #fff;
}

.two-line-voucher {
  height: 78px;
  width: 149px;
  padding-left: 33px;
}

.line-voucher {
  display: flex;
  align-items: center;
}

.line-voucher img {
  width: 36px;
  height: 36px;
}

.line-voucher p {
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 9px;
}

.btn-stores {
  width: 83px;
  height: 60px;
  margin-left: 6px;
}

.btn-apple {
  width: 83px;
  height: 24px;
  background-image: url("https://img.lazcdn.com/g/tps/imgextra/i4/O1CN01uAl8kB1wEv2DNjdhB_!!6000000006277-2-tps-125-36.png");
  background-size: 100% auto;
  border: none;
}

.btn-google {
  width: 83px;
  height: 24px;
  background-image: url("https://img.lazcdn.com/g/tps/imgextra/i1/O1CN01QJGFfc1S0mKngu4rQ_!!6000000002185-2-tps-125-36.png");
  background-size: 100% auto;
  border: none;
}

.module-qr {
  margin-top: 6px;
  width: 182px;
  height: 108px;
}

.qr-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.txt-scanqr {
  font-size: 10px;
  margin: 6px 0px 0px 4px;
  color: #2e3346;
}

.voucher-row {
  width: 1188px;
  height: 130px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 12px;
}

.voucher-item {
  width: 388px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 6px;
}

.voucher-content {
  margin-bottom: 22px;
  overflow: hidden;
  padding-left: 12px;
  padding-top: 12px;
}

.voucher-content p {
  font-size: 16px;
  color: #2e3346;
  margin-top: 10px;
}

.deal-row {
  width: 1188px;
  height: 413px;
  padding-top: 24px;
}

.deal-title {
  width: 1188px;
  height: 38px;
  color: #424242;
  font-size: 22px;
}

.deal-card {
  width: 1188px;
  height: 375px;
  background-color: #fff;
}

.status-row {
  background-color: #fff;
  width: 1188px;
  height: 60px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.status {
  display: flex;
  align-items: center;
}

.status-txt {
  font-size: 14px;
  color: #f57224;
  margin-left: 20px;
}

.status-countdown {
  width: 267px;
  height: 60px;
  margin-left: 65px;
  display: flex;
  align-items: center;
}

.count-box {
  width: 40px;
  height: 35px;
  max-width: 12px 6px;
  background-color: #d3232a;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  margin: 12px 6px;
}

.buy-all-btn {
  padding: 0px 10px;
  text-decoration: none;
  margin-top: 13px;
  margin-right: 11px;
  color: #f57224;
  border: 1px solid #f57224;
  height: 35px;
  cursor: pointer;
}

.buy-all-btn span {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 35px;
}

.item-row {
  display: flex;
}

.deal-product-card {
  width: 188px;
  height: 290px;
  margin-right: 12px;
  background-color: #fff;
}

.deal-product-card:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.card-txt {
  margin: 4px 8px 0px 8px;
}

.deal-product-txt {
  width: 172px;
  height: 36px;
  margin-bottom: 4px;
  line-height: normal;
  font-size: 14px;
}

.card-price {
  color: #f57224;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  height: 22px;
  letter-spacing: -0.56px;
  line-height: 22px;
  margin-bottom: 4px;
}

.origin-price {
  width: 172px;
  height: 12px;
  display: flex;
  flex-direction: row;
  line-height: 12px;
}

.origin-price .sp1 {
  color: #9e9e9e;
  display: flex;
  flex-direction: row;
  text-decoration: line-through;
}

.origin-price .discount {
  color: #212121;
  font-size: 12px;
  margin-left: 4px;
}

.lazmall-row {
  width: 100%;
  height: 308px;
  /* background-color: slategrey; */
  margin-top: 24px;
}

.lazzmall-header {
  width: 1188px;
  height: 38px;
  /* background-color: paleturquoise; */
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  line-height: 38px;
}
.lazzmall-header p {
  font-family: NotoSans-Regular;
  font-size: 22px;
  line-height: 38px;
  color: #424242;
}

.lazzmall-header span {
  font-size: 14px;
  line-height: 38px;
  text-transform: capitalize;
  color: #1a9cb7;
  cursor: pointer;
}

.lazzmall-items {
  display: flex;
  font-size: 12px;
  line-height: 13.8px;
}

.lazzmall-item {
  width: 188px;
  height: 270px;
  background-color: #fff;
  font-family: NotoSans-Regular;
  font-size: 12px;
  line-height: 13.8px;
  margin: 0px 12px 0px 0px;
  overflow: hidden;
  position: relative;
}

.lazzmall-item:hover {
  box-shadow: #00000040 0px 2px 4px 0px;
}

.lazzmall-item .txt1 {
  width: 172px;
  color: #212121;
  font-family: NotoSans-Regular;
  font-size: 14px;
  line-height: 18px;
  margin: 8px 8px 4px;
  text-align: center;
}

.lazzmall-item .txt2 {
  color: #9e9e9e;
  font-family: NotoSans-Regular;
  font-size: 12px;
  line-height: 14px;
  margin: 0px 8px;
  text-align: center;
}

.card-overlay {
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5));
  height: 36px;
  left: 0;
  opacity: 0.25;
  position: absolute;
  top: 152px;
  width: 188px;
}

.category-row {
  width: 100%;
  height: 100%;
  padding-top: 24px;
}

.category-title {
  width: 1188px;
  height: 38px;
}

.category-title p {
  color: #424242;
  /* font-family: NotoSans-Regular; */
  font-size: 22px;
  line-height: 38px;
}

.category-items {
  width: 1188px;
  min-height: 297px;
  display: flex;
  flex-wrap: wrap;
}

.category-item {
  width: 148px;
  height: 100%;
  padding-top: 16px;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}

.category-item:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
}

.category-item img {
  margin: 0 auto;
}

.category-item p {
  color: #212121;
  width: 124px;
  height: 36px;
  text-align: center;
  display: flow-root;
  font-family: NotoSans-Regular;
  font-size: 14px;
  line-height: 18px;
  margin: 8px 12px 0px;
}

.yourself-row {
  width: 100%;
  padding-top: 24px;
  margin: 0 auto;
}

.yourself-title {
  width: 1188px;
  height: 38px;
}

.yourself-title span {
  color: #424242;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.yourself-items {
  width: 1188px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.yourself-item {
  background: #fff;
  margin-bottom: 20px;
  margin-right: 9px;
  min-height: 189px;
  width: 189px;
  height: 100%;
  padding-bottom: 12px;
}

.yourself-item:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
}

.yourself-description {
  width: 173px;
  height: 84px;
  padding: 4px 8px 12px 8px;
  background: #fff;
}

.yourself-description p {
  font-size: 14px;
  height: 36px;
  line-height: 18px;
  margin-bottom: 4px;
}

.yourself-rating {
  display: flex;
  width: 174px;
  height: 14px;
  font-size: 12px;
}

.rating-stars {
  position: relative;
}

.stars span {
  width: 11px;
  height: 11px;
  line-height: 11px;
  font-size: 11px;
}

.stars span i {
  color: rgb(203, 203, 41);
}

.rating-comments {
  color: #9e9e9e;
  font-size: 12px;
}
.load-more-card {
  align-items: center;
  font-size: 12px;
  justify-content: center;
  line-height: 13.8px;
  padding: 24px 0px 9px;
}

.load-more-btn {
  border: 1px solid #1a9cb8;
  color: #1a9cb8;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 387px;
}

.bank-voucher-row {
  display: flex;
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid #e2e2e2;
  padding-bottom: 24px;
  padding-top: 24px;
}

.bank-voucher-row .voucher-banner {
  margin-right: 12px;
  height: 97px;
  margin-right: 12px;
  width: 388px;
}

.voucher-banner:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
}

.footer-first {
  background-color: #f4f4f6;
  color: #fff;
  padding: 20px 0 25px;
  height: 100%;
  display: flex;
}

.footer-width-25 {
  width: 25%;
  float: left;
}

.footer-title {
  color: #0f136d;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  margin: 0;
}

.footer-list {
  color: #0f136d;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 200;
  line-height: 17px;
}

.footer-list li a {
  text-decoration: none;
  color: #0f136d;
}

.footer-list li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-width-50 {
  width: 50%;
  float: left;
}

.footer-apps {
  margin-top: 25px;
  display: flex;
}

.clear {
  clear: both;
}

.ft-logo-lazada {
  width: 42px;
  height: 42px;
}

.ft-logo-text {
  padding: 0px 15px;
}

.ft-logo-text .title {
  color: #f36f36;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
}

.ft-logo-text .text {
  color: #0f136d;
  font-size: 14px;
  font-weight: 300;
  padding-top: 2px;
}

.download-apps {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.download-apps a {
  width: 126px;
  height: 42px;
  margin-left: 20px;
  margin-top: 1px;
}

.footer-app-supplement {
  margin-top: 5px;
  color: #0f136d;
  font-size: 14px;
  font-weight: 200;
  height: 13.7891px;
  line-height: 13.8px;
}

body {
  background-color: #f4f4f6;
}

.footer-width-32 {
  width: 32%;
}

.footer-width-32 .footer-title {
  color: #183544;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.2em;
  margin-bottom: 15px;
}

.footer-second {
  display: flex;
}

.payment-list {
  width: 380px;
  height: 98px;
}

.list-icon-payment {
  display: inline-block;
  margin: 0 25px 10px 0;
}

.delivery-services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.verify-icons {
  display: flex;
}

.verify-icons .col-1 {
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}

.verify-icons .col-1 a {
  text-decoration: none;
  margin-bottom: 10px;
}

.verify-icons .col-2 a {
  text-decoration: none;
  margin-bottom: 10px;
}

.verify-icons .col-2 {
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}

.footer-third {
  display: flex;
  background-color: #f4f4f6;
  color: #888;
  padding: 60px 0 40px;
}

.footer-third-50 {
  width: 50%;
}

.footer-news {
  column-count: 2;
}

.footer-news h1 {
  width: 256px;
  color: #606060;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 0 0 5px;
}

.footer-news p {
  line-height: 14px;
  margin-bottom: 12px;
  margin-top: 6px;
  font-size: 12px;
  width: 256px;
}

.footer-news span {
  color: rgb(136, 136, 136);
  background-color: rgb(244, 244, 246);
}

.auth-products {
}

.auth-products p {
  line-height: 14px;
  margin-bottom: 12px;
  margin-top: 6px;
}

.auth-products a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(136, 136, 136);
  background-color: rgb(244, 244, 246);
}

.auth-products a:hover {
  text-decoration: underline;
}

.auth-products a span {
  color: rgb(136, 136, 136);
  background-color: rgb(244, 244, 246);
  font-size: 12px;
}

.auth-products h3 {
  width: 256px;
  color: #606060;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 0 0 5px;
}

.footer-third-25 {
  width: 25%;
  padding-right: 40px;
}

.footer-third-25 h3 {
  width: 100%;
  color: #606060;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 0 0 5px;
}

.small-link {
  text-decoration: none;
  font-size: 12px;
  color: rgb(136, 136, 136);
  background-color: rgb(244, 244, 246);
}

.small-link:hover {
  text-decoration: underline;
}

.small-colom {
  color: rgb(136, 136, 136);
  background-color: rgb(244, 244, 246);
  font-size: 12px;
}

.h4-title {
  color: #606060;
  font-size: 11px;
  font-weight: 300;
  line-height: 15px;
  margin-top: 10px;
  text-transform: uppercase;
}

.featured-products {
  width: 100%;
}

.footer-fourth {
  width: 100%;
  /* background-color: #fff; */
  color: #606060;
  padding: 40px 0;
  display: flex;
}

.footer-fourth-50 {
  width: 50%;
}

.footer-fourth-25 {
  width: 25%;
}

.footer-fourth-title {
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 5px 10px 5px 0;
}

.footer-venture-list {
  display: flex;
}

.country-icon {
  width: 34px;
  height: 34px;
  text-decoration: none;
}

.follow-us-icons {
  display: flex;
}

.follow-us-icon {
  text-decoration: none;
  width: 32px;
  height: 32px;
  margin-right: 2px;
}

.lazada-copyright {
  color: #606060;
  float: right;
  font-size: 14px;
  font-weight: 200;
  line-height: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
